
.author_logo_wrap{display:flex;align-items: center;}
.author_logo{margin-right:8px;font-size:0;line-height:0;position:relative;top:2px;}
.author_logo > img{vertical-align: middle;height:14px;}
.author_text{display:inline-block;font-size:15px;color:#2b2b2b;line-height:1;white-space: nowrap; text-overflow: ellipsis;overflow:hidden;position:relative; max-width:99%;}

.ico_guidetext{position:relative;display:flex;align-items: center;}
.ico_guidetext[class*="ico_"]:before{display:block;content:'';width:15px;height:15px;margin-right:7px;background:url("../images/ico_text_calendar.png") no-repeat 0 0/100% auto; flex:0 0 15px;}
.ico_guidetext_in{font-size:15px;color:#2b2b2b;line-height:1.3;white-space: nowrap; text-overflow: ellipsis;overflow:hidden;position:relative; max-width:99%;}
.ico_guidetext.ico_calender:before{}
.ico_guidetext_initem{font-size:14px;color:#4e4e4e;line-height:1;display:inline-block;position:relative;top:-1px;}
.ico_guidetext_allow{display:inline-block;width:16px;flex:0 0 16px;background:url("../images/ico_textallow.png") no-repeat 50% 50%/16px auto;height:7px;position:relative;top:-1px;margin:0 5px;}



.middle_zone{position:relative;}
.middle_pixin{width:1200px;margin:0 auto;}
.mv_wrap{position:relative;height:530px;}
.btn_mv_control{}
.btn_mv_control.prev_control{}
.btn_mv_control.next_control{}
.swiper-container{}
.swiper-container.mv_container{}
.swiper-container.mv_container .swiper-wrapper{}
.swiper-container.mv_container .swiper-slide{}
.mv_item{display:block;height:530px;background-repeat:no-repeat;background-position:50% 0;background-size:cover;}

.btn_mv_control{display:block;position:absolute;top:50%;transform: translateY(-50%);width:54px;height:54px;border-radius:100%;background:rgba(0,0,0,.4);border-radius:100%;z-index:10}
.btn_mv_control:after{display:block;content:'';width:8px;height:8px;border-left:1px solid #fff;border-bottom:1px solid #fff;position:absolute;top:50%;left:50%;transform: translateZ(0) rotate(45deg);margin:-4px 0 0 -3px}
.btn_mv_control.prev_control{left:20px;}
.btn_mv_control.next_control{right:20px;}
.btn_mv_control.next_control:after{margin-left:-6px;transform: translateZ(0) rotate(225deg);}



.mv_bottom_control_wrap{display:block;position:absolute;bottom:110px;left:0;width:100%;z-index:10;text-align: center;}
.mv_bottom_control_wrap.type2{bottom:20px;}
.mv_bottom_in_control{display:inline-flex;justify-content: center;align-items:center;background:rgba(0,0,0,.3);border-radius:100px;padding:8px 25px;}
.mv_bottom_cols{margin:0 6px;}
.mv_bottom_cols.has_navi{}
.mv_bottom_cols.has_auto{}
.swiper-pagination.main_visual_paging{font-size:0;line-height:0;position:static}
.swiper-pagination.main_visual_paging .swiper-pagination-bullet{opacity:1;width:10px;height:10px;margin:0 3px;border-radius:100%;background:#fff;}
.swiper-pagination.main_visual_paging .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;background:#ffc000;}
.swiper-pagination.sub_visual_paging{font-size:0;line-height:0;position:static}
.swiper-pagination.sub_visual_paging .swiper-pagination-bullet{opacity:1;width:10px;height:10px;margin:0 3px;border-radius:100%;background:#fff;}
.swiper-pagination.sub_visual_paging .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;background:#ffc000;}
.swiper_auto_control_list{border:1px solid rgba(255,255,255,.22);display:flex;align-items: center;border-radius:3px;}
.swiper_auto_control_list > li{border:1px solid rgba(255,255,255,.22);border-right:0;}
.swiper_auto_control_list > li:last-of-type{}
.btn_mv_stop,
.btn_mv_play{display:inline-block;width:30px;height:30px;background:url("../images/btn_main_play.png") no-repeat 0 100%/100% auto;}
.btn_mv_stop{}
.btn_mv_play{background-position:0 0;}

.mvlayer_parent{position:absolute;bottom:-70px;width:1200px;left:50%;transform: translateX(-50%);height:0;z-index:10;height:140px;border-radius:1000px;overflow:hidden;}

.swiper-container.mv_banner_container{}
.swiper-container.mv_banner_container .swiper-wrapper{}
.swiper-container.mv_banner_container .swiper-slide{}
.swiper-container.mv_banner_container .mv_banner_item{}

.swiper-pagination.mv_banner_paging{font-size:0;line-height:0;position:absolute;bottom:16px;left:0;width:100%;}
.swiper-pagination.mv_banner_paging .swiper-pagination-bullet{opacity:1;width:10px;height:10px;margin:0 2px;border-radius:100%;background:#d2d2d2;}
.swiper-pagination.mv_banner_paging .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;background:#4e4e4e;}

.mc_wrap{padding:125px 0 0;position:relative;}
.mc_row.mc_data_group{}

.mc_row{margin:0 auto 0;width:1200px;}
.mc_row:last-of-type{}
.mc_row.vertical_item{}
.mc_row.vertical_item.fulltype{width:auto;position:relative;background:#f8f8f8;}
.mc_row.else_guide_type{width:auto;background:url("../images/bg_mcgray.jpg") no-repeat 0 0/cover;padding:75px 0 115px;}
.vertical_title{font-size:32px;color:#000000;font-weight:500;padding-bottom:25px;border-bottom:1px solid #828282;text-align: center;}
.vertical_slider_row{margin-top:40px;}
.swiper_slider_item{margin:0 -17px;position:relative;}
.swiper_slider_item.dtype2{margin:0 -12px;}
.swiper_slider_item.dtype2 .mc_thumbanner{margin:0 12px;}
.swiper_slider_item.dtype2 .thum_rows{height:0;padding-bottom:74.46808510638298%;}
.swiper_slider_item.dtype2 .spec_rows{padding:18px 20px;}
.swiper_slider_item .swiper-container{}
.swiper_slider_item .swiper-wrapper{}
.swiper_slider_item .swiper-slide{}
.btn_slider_control_wrap{position:absolute;top:0;width:30px;height:calc(100% - 28px);display:flex;align-items: center;justify-content: center;}
.btn_slider_control_wrap.left_pos{left:-30px;}
.btn_slider_control_wrap.right_pos{right:-30px;}

.btn_slider_control{display:block;width:26px;height:26px;border:1px solid #c7c7c7;border-radius:100%;position:relative;background-color:#fff;}
.btn_slider_control:after{display:block;content:'';width:8px;height:8px;border-left:1px solid #000;border-bottom:1px solid #000;position:absolute;top:50%;left:50%;}
.btn_slider_control.prev_control:after{transform: rotate(45deg);margin:-5px 0 0 -2px;}
.btn_slider_control.next_control:after{transform: rotate(225deg);margin:-5px 0 0 -6px;}


.mc_data_item{margin-bottom:80px;}
.mc_data_item:last-of-type{margin-bottom:0;}
.mc_data_title_row{padding-bottom:27px;border-bottom:1px solid #828282;text-align: center;margin-bottom:40px;}
.mc_data_title_row.type2{border-bottom:0;padding-bottom:0;}
.mc_data_title_item{display:flex;align-items: center;justify-content: center;}
.mc_data_title_label{font-size:27px;}
.mc_data_title_label.type2{font-size:32px;}
.mc_data_title_main{position:relative;}
.mc_data_title_main:before{display:block;content:'';height:10px;background:#ffd75c;width:100%;position:absolute;bottom:-5px;left:0;}
.mc_data_title_main .highlight{display:inline-block;position:relative;z-index:1;}

.mc_data_content_row{}

.swiper-container.mc_swiper_list{margin:0 -17px;}
.swiper-container.mc_swiper_list .swiper-wrapper{}
.swiper-container.mc_swiper_list .swiper-slide{flex:0 0 33.333333333%;}
.swiper-container.mc_swiper_list .mv_banner_item{}

.mv_banner_item{display:block;height:140px;background-repeat:no-repeat;background-position:0 0;background-size:cover;}

.mc_thumbanner{padding:0 17px;}
.thum_rows{display:block;position:relative;height:260px;overflow:hidden;border-radius:20px 20px 0 0;}
.thum_rows > img{position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;object-position: 50% 50%;transition:.5s;transform: scale(1.0);}
.spec_rows{border:1px solid #dadada;border-top:0;position:relative;padding:25px 20px;background:#fff;position:relative;z-index:5;border-radius: 0 0 20px 20px;}
.thum_rows:hover > img{transform: scale(1.2);}

.spec_inlink_item{display:block;}

.box_label{display:inline-block;background:#4c72dd;border-radius:6px 6px 6px 0;color:#fff;font-size:12px;line-height:1;padding:5px 10px;border-radius:6px 6px 6px 0;}
.box_label.dtype2{padding:8px;border-radius:6px 0 6px 0;}
.box_label.type2{background-color:#f65e5e;}

.spec_rows .box_label{position:absolute;top:0;transform: translateY(-50%);}

.mc_spec_sub_copy{margin-bottom:3px;font-size:14px;color:#888888;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;line-height:1.3}
.mc_spec_main_copy{font-weight:500;font-size:19px;color:#1f1f1f;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;line-height:1.3}
.mc_spec_else_copy{margin-top:8px;font-size:13px;color:#878686;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;line-height:1.3}
.mc_spec_price{margin-top:28px;}
.price_num_group{line-height:0;margin-bottom:15px;display:flex;white-space: nowrap;position:relative;align-items: center;color:#ed3737;justify-content: flex-end;}
.price_num_group:last-of-type{margin-bottom:0;}
.price_num_value{font-weight: 700;font-size:24px;}
.price_num_unit{font-weight:350;font-size:18px;}

.price_num_group.before_type{color:#818181;}
.price_num_group.before_type .price_num_value{font-weight: 700;font-size:18px;font-weight:400;}
.price_num_group.before_type .price_num_unit{font-weight:350;font-size:15px;}

.price_num_label{font-size:13px;display:inline-block;line-height:1;margin-right:7px;}

.btn_thum_like{display:block;width:15px;height:14px;background:url("../images/ico_like.png") no-repeat 0 0/100% auto;position:absolute;top:13px;right:13px;}
.btn_thum_like.active{background-position:0 100%;}


.swiper-pagination.mc_paging{font-size:0;line-height:0;position:static;margin-top:20px;}
.swiper-pagination.mc_paging .swiper-pagination-bullet{opacity:1;width:10px;height:10px;margin:0 2px;border-radius:100%;background:#ababab;}
.swiper-pagination.mc_paging .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;background:#ffc000;width:30px;border-radius:100px;}


.quick_item_zone{z-index:100;position:absolute;top:0;left:50%;width:1200px;transform: translateX(-50%);height:0;}
.quick_item_zone.fixed{position:fixed;top:188px;}
.quick_item_zone.fixed .quick_item{top:20px;}
.quick_item{background:#fff;box-sizing: border-box;width:98px;border:1px solid #dadada;border-radius:7px;position:absolute;top:86px;left:-150px;text-align: center;transition:.3s;}
.quick_item_top{padding:10px 0;position:relative;}
.quick_item_top > img{vertical-align: top;}
.btn_quick_allow{display:block;width:26px;height:26px;border:1px solid #c7c7c7;border-radius:100%;position:absolute;top:50%;right:0;transform: translate(50%,-50%);background:#fff;}
.btn_quick_allow:after{display:block;content:'';margin:-4.5px 0 0 -2px;width:8px;height:8px;border-left:1px solid #2c2c2c;border-bottom:1px solid #2c2c2c;position:absolute;top:50%;left:50%;transform: rotate(45deg);}
.btn_quick_allow.fold:after{transform: rotate(-45deg);margin:-7px 0 0 -4.5px;}
.quick_menu_list{}
.quick_menu_list > li{border-bottom:1px solid #e6e6e6;padding:10px 0;}
.quick_menu_list > li:last-of-type{border-bottom:0;}
.quick_sns_menu{display:block;}
.quick_sns_menu:before{display:block;content:'';width:29px;height:27px;margin:0 auto 5px;background-repeat: no-repeat; background-position: 0 0;background-size:100% auto;}
.quick_sns_menu.ico_kakao:before{background-image:url("../images/ico_kakaotalk.png")}
.quick_sns_menu_text{color:#333333;font-size:14px;}
.quick_item_cont{position:relative;overflow:hidden;}
.quick_item_inner{transition:.3s;transform:translateY(0);border-top:1px solid #e6e6e6;}
.quick_item_cont.fold{height:0;}
.quick_item_cont.fold .quick_item_inner{transform:translateY(-100px);}


.quick_ico_menu_item{}
.quick_ico_menu_item:before{display:block;content:'';width:34px;height:34px;margin:0 auto 5px;background:url("../images/ico_quickmenu.png") no-repeat 0 0/100% auto;}
.quick_ico_menu_item.ico_01:before{background-position:0 0;}
.quick_ico_menu_item.ico_02:before{background-position:0 50%;}
.quick_ico_menu_item.ico_03:before{background-position:0 100%;}
.quick_ico_menu_text{color:#333333;font-size:14px;}

.quick_item_recently{border-top:1px solid #e6e6e6;padding:15px 0;}
.quick_item_recently_title{font-size:14px;color:#333333;line-height:1;margin-bottom:10px;}
.recently_item_list{}
.recently_item_list > li{margin-bottom:12px;}
.recently_item_list > li:last-of-type{margin-bottom:0;}
.recently_item{display:block;}
.recently_thum{padding:0 13px}
.recently_thum img{width:68px;height:48px;margin:0 auto;object-fit: cover;border:1px solid #dadada;object-position: 50% 50%;}
.recently_spec{font-size:13px;color:#333333;line-height:1.3;margin-top:5px;}

.mc_data_item{}
.mc_data_title_row{}
.mc_data_title_item{font-size:32px;font-weight:500;display:flex;align-items: center;}
.mc_data_title_item > *{margin-right:5px;}
.mc_data_title_item > *:last-child{margin-right:0;}
.mc_data_title_label{margin-right:5px;}
.mc_data_title_main{}

.data_content_item{position:relative;display:flex;padding:60px 0;}
.data_content_item.type2{display:block;}
.data_content_fxitem{position:relative;display:flex;}
.bg_emp{display:block;content:'';width:100vw;position:absolute;top:0;left:50%;height:100%;background:#fbf7ec;transform: translateX(-50%);}
.data_content_kind_cols{flex: 0 0 210px;display:flex;flex-direction:column;justify-content:space-between;margin-right:20px;background-repeat:no-repeat;background-size:cover;background-position: 0 0;border-radius:20px;}
.data_kind_top{padding:25px 30px;}
.data_kind_title_g{}
.data_kind_title_main{color:#fff;font-size:30px;font-weight:700;}
.data_kind_title_sub{margin-top:10px;font-size:16px;color:#fff;font-weight:500;}
.data_keyword_list{margin-top:30px;display:flex;flex-wrap:wrap;}
.data_keyword_list > li{margin:0 10px 10px 0;}
.data_keyword_list > li:last-of-type{}
.data_keyword_item{display:inline-block;color:#fff;font-size:13px;}
.data_kind_bottom{padding:25px 35px;}
.btn_kind_item{padding:12px 10px 13px;line-height:1;border-radius:100px;border:1px solid rgba(255,255,255,.5);display:block;text-align: center;color:#fff;font-weight:700;line-height:1;font-size:13px;}

.data_content_list_cols{flex:1;min-width:0;}
.mc_thumbanner_list{display:flex;margin:0 -10px;}
.mc_thumbanner_list > li{flex:0 0 33.3333333333333333%;}
.mc_thumbanner_list > li:last-of-type{}
.mc_thumbanner_list .mc_thumbanner{padding:0 10px;display:block;}

.mc_thumbanner_list.length2 > li{}
.mc_thumbanner_list.length2 > li:first-of-type{flex:1;}
.mc_thumbanner_list.length1 > li{flex:1;}
.mc_thumbanner_list.length1 .mc_thumbanner{display:flex;min-height:450px;}
.mc_thumbanner_list.length1 .thum_rows{flex:1;border-radius:20px 0 0 20px;height:auto;}
.mc_thumbanner_list.length1 .spec_rows{flex:0 0 320px;border-radius:0 20px 20px 0;border:1px solid #dadada;}
.mc_thumbanner_list.length1 .spec_rows .box_label{position:static;transform: none;margin-bottom:15px;}
.mc_thumbanner_list.length1 .spec_inlink_item{}
.mc_thumbanner_list.length1 .mc_spec_price{position:absolute;bottom:30px;right:30px;}

.mc_row.else_guide_type{width:auto;background:url("../images/bg_custom_global.png") no-repeat 0 0/cover;padding:75px 0 115px;}
.mc_else_guide_title{text-align:center;font-size:32px;color:#000;font-weight:500;margin-bottom:35px;letter-spacing: -1px;}
.mc_else_content{width:1200px;margin:0 auto;}
.mc_else_crow{}
.mc_else_crow:last-of-type{}

.mc_else_grid_list{display:flex;margin:-7px;}
.mc_else_grid_list.type2{margin:28px -12px -12px -12px;}
.mc_else_grid_item{background:#fff;border:1px solid #d2d2d2;border-radius:10px;margin:7px;flex:1}
.mc_else_grid_box{background:#fff;border:1px solid #d2d2d2;border-radius:10px;margin:12px;flex:1;padding:20px;display:flex;}
.mc_else_grid_ico{display:inline-block;width:80px;height:80px;border:1px solid #e7e7e7;border-radius:100%;background:url("../images/ico_customer.png") no-repeat 0 0/100% auto;}
.mc_else_grid_ico.type2{background-position:0 100%;}
.mc_else_grid_title_w{border-bottom:1px solid #e8e8e8;padding:20px 26px 18px;}
.mc_else_grid_title{font-size:18px;color:#2b2b2b;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;line-height:1.3}
.mc_else_grid_spec{padding:15px 20px;display:flex;align-items: flex-start;}
.mc_else_grid_spec_text{margin-top:10px;flex:1;color:#5f5f5f;font-size:14px;color:#2b2b2b;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;line-height:1.3}
.mc_else_grid_spec_photo{width:90px;height:90px;flex:0 0 90px;position:relative;border-radius:100%;overflow:hidden;margin-left:20px;}
.mc_else_grid_spec_photo > img{position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;object-position: 50% 50%;transition:.5s;transform: scale(1.0);}
.mc_else_grid_spec_g{margin:12px 0 0 20px;}
.mc_else_grid_spec_label{font-size:18px;color:#2b2b2b;font-weight:500;}
.mc_else_grid_main_copy_g{margin-top:13px;color:#1f1f1f;display:flex;align-items: flex-end;}
.mc_else_grid_main_copy{font-size:30px;color:#1f1f1f;font-weight:700;}
.mc_else_grid_sub_copy{font-size:16px;margin:0 0 3px 10px;}
.mc_else_grid_add_text_list{margin-top:10px;display:flex;flex-wrap:wrap;font-size:13px;color:#6d6c6c;}
.mc_else_grid_add_text_list > li{position:relative;padding-left:10px;margin:5px 10px 0 0;}
.mc_else_grid_add_text_list > li:after{display:block;content:'-';position:absolute;top:0;left:0;}
.mc_else_grid_main2_copy_g{display:flex;align-items: flex-end;margin-top:14px;}
.mc_else_grid_main2_copy_g .mc_else_grid_sub_copy{font-size:20px;color:#1b1b1b;line-height:1;font-weight:500;margin:0 10px 0 0;}
.mc_else_grid_main2_copy{font-size:24px;color:#1f1f1f;font-weight:700;}
.mc_else_cash_text{font-size:15px;margin-top:10px;}


.sv_wrap{position:relative;height:345px;}
.sv_item{display:block;height:345px;background-repeat:no-repeat;background-position:50% 0;background-size:cover;}
.sc_wrap{width:1200px;margin:0 auto 120px;}
.box_flow_list_wrap{margin:50px 0;}
.box_flow_list{display:flex;flex-wrap:wrap;margin:-3px;}
.box_flow_list > li{width:11.11111111111111%;box-sizing: border-box;padding:3px;}
.box_flow_list > li:last-of-type{}
.btn_boxtab{display:block;text-align: center;font-size:16px;color:#1a1f28;text-align: center;border:1px solid #333c4c;border-radius:100px;padding:10px 10px 12px;}
.btn_boxtab_text{}
.btn_boxtab.active{background:#333c4c;}
.btn_boxtab.active .btn_boxtab_text{color:#fff;}

.main_data_wrap{}
.mc_data_item{}
.mc_data_title_row{}
.mc_data_title_item{}
.mc_data_title_obj{}
.mc_data_title_obj.has_highlight:before{}
.mc_data_title_obj .highlight{}
.mc_data_title_obj .highlight:before{}
.primary_content_wrap{position:relative;}
.btn_primary_control{display:block;width:40px;height:40px;position:absolute;top:50%;transform: translateY(-50%);}
.btn_primary_control.prev_control{left:-68px;}
.btn_primary_control.next_control{right:-68px;}
.btn_primary_control:after{display:block;content:'';width:16px;height:16px;border-left:2px solid #000;border-bottom:2px solid #000;transform: rotate(45deg);position:absolute;top:11px;left:16px;}
.btn_primary_control.next_control:after{transform: rotate(225deg);left:7px;}

.swiper-container.primary_swiper_list{margin:0 -17px;}
.swiper-container.primary_swiper_list .swiper-wrapper{}
.swiper-container.primary_swiper_list .swiper-slide{flex:0 0 33.333333333333333%;}


.swiper-pagination.primary_paging{font-size:0;line-height:0;position:static;margin-top:20px;}
.swiper-pagination.primary_paging .swiper-pagination-bullet{opacity:1;width:10px;height:10px;margin:0 2px;border-radius:100%;background:#ababab;}
.swiper-pagination.primary_paging .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;background:#535353;width:30px;border-radius:100px;}


.middle_list_data_zone{margin-top:65px;}


.board_top_wrap{margin-bottom:15px;display:flex;align-items: center;justify-content: space-between;}
.board_top_cols{}
.board_top_cols .boxquad_tab_list{}
.board_top_cols .boxquad_tab{}
.board_top_cols:last-of-type{}
.bosrd_current_para{font-size:16px;color:#4e4e4e;}
.bosrd_current_para strong{font-size:19px;color:#1b1b1b;font-weight:500;}

.boxquad_tab_list{display:flex;align-items: center;}
.boxquad_tab{font-size:13px;color:#5f5f5f;line-height:1;padding:5px 10px 6px;display:inline-block;border:1px solid #dedede;border-radius:100px;margin-right:5px;}
.boxquad_tab:last-of-type{margin-right:0;}
.boxquad_tab.active{color:#fff;background:#1a2e46;border-color:#1a2e46;}

.board_other_group{}
.board_other_cols{}
.board_other_cols:last-of-type{}
.board_summary_tb{display:table;}
.board_summary_tr{display:table-row;}
.board_summary_cell{display:table-cell;vertical-align: middle;padding-bottom:3px;}
.board_summary_cell.define_th{padding-right:14px;}
.board_summary_cell.define_td{}
.board_summary_tr:last-of-type .board_summary_cell{padding-bottom:0;}
.board_summary_label{font-size:14px;color:#999999;}
.board_summary_data{font-size:14px;color:#4e4e4e;}


.board_list_wrap{border-top:1px solid #6d6c6c;}
.board_thumnail_list{}
.board_thumnail_list > li{border-bottom:1px solid #e7e7e7;padding:28px 0 28px 12px;}
.board_thumnail_list > li.nodata_li{padding:200px 20px;text-align: center;}
.board_thumnail_list > li.nodata_li .nodata_para{}
.board_thumnail_list > li:last-of-type{}
.nodata_para{}
.board_thumnail_obj{margin:0 0 0 12px;display:flex;}
.board_thumnail_img_cols{flex:0 0 350px;position:relative;height:220px;overflow:hidden;border-radius:7px;width:350px;}
.board_thumnail_img_cols .thum_layer{border-radius:0 0 0 7px;}
.board_thumnail_img_cols > img{position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;object-position: 50% 50%;transition:.5s;transform: scale(1.0);}
.board_thumnail_img_cols:hover > img{transform: scale(1.2);}
.board_thumnail_spec_cols{flex:1;margin-left:33px;min-width:0;display:flex;flex-direction: column;justify-content: space-between;padding:10px 0;position:relative;}
.board_thumnail_spec_cols .btn_thum_like{top:-7px;right:8px;}
.board_spectext_group{position:relative;}
.board_spec_title{font-size:25px;letter-spacing: -1px;color:#1b1b1b;font-weight:500;overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height:1.3;}
.board_spec_both{display:flex;justify-content: space-between;align-items: flex-end;margin-top:20px;}
.board_spec_long_cols{flex:1;min-width:0;}
.board_spec_short_cols{margin-left:20px;}
.board_spec_cols{}
.board_spec_cols:last-of-type{}
.board_spec_subtext{font-size:13px;margin-top:7px;color:#999999;overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height:1.4;}
.board_spec_price{font-size:22px;color:#000;font-weight:700;letter-spacing: -.5px;}
.board_spec_price .unit{font-size:18px;}
.board_other_group{display:flex;justify-content: space-between;align-items: flex-end;}
.board_other_cols{}
.board_other_cols .author_logo_wrap{}
.board_other_cols:last-of-type{}
.board_spec_sub_g{text-align: right;}

.btn_togglebox{font-size:15px;color:#4e4e4e;display:inline-block;border:1px solid #ccc;padding:10px 36px 11px 15px;border-radius:100px;position:relative;background:#fff;}
.btn_togglebox:after{
	display:block;width:9px;height:9px;border-left:1px solid #707070;border-bottom:1px solid #707070;content:'';position:absolute;top:9px;right:18px;
	transform: translateZ(0) rotate(-45deg);
}
.btn_togglebox.type2:after{transform: translateZ(0) rotate(-225deg);top:15px;}
.btn_togglebox_in{}

.list_option_zone{margin-top:30px;border-top:1px solid #e7e7e7;display:none;}
.list_option_zone.active{display:block;}
.hor_scroll_calendar_box{border:13px solid #f7f7f7;}
.calenar_title_row{padding:20px 0;border-bottom:1px solid #e7e7e7;text-align: center;display:flex;justify-content: center;align-items: center;}
.btn_calendar_title_control{display:block;width:20px;height:20px;border:1px solid #cfd0d3;border-radius:100%;flex:0 0 20px;margin:0 10px;position:relative;}
.btn_calendar_title_control:after{
	display:block;content:'';width:7px;height:7px;border-left:1px solid #707070;border-bottom:1px solid #707070;position:absolute;top:6px;left:8px;
	transform: translateZ(0) rotate(45deg);
}
.btn_calendar_title_control.prev_title_control{}
.btn_calendar_title_control.next_title_control:after{
	transform: translateZ(0) rotate(225deg);left:4px;
}
.calendar_current{font-size:18px;color:#1b1b1b;font-weight:500;position:relative;top:-1px;}
.calendar_content_row{display:flex;align-items: center;padding:20px;}
.btn_calendar_content_control{display:block;width:26px;height:26px;border:1px solid #c7c7c7;border-radius:100%;flex:0 0 26px;position:relative;}
.btn_calendar_content_control:after{
	display:block;width:9px;height:9px;border-left:1px solid #2a2a2a;border-bottom:1px solid #2a2a2a;content:'';position:absolute;top:8px;left:10px;
	transform: translateZ(0) rotate(45deg);
}
.btn_calendar_content_control.prev_content_control{}
.btn_calendar_content_control.next_content_control:after{
	transform: translateZ(0) rotate(225deg);left:5px;
}
.calendar_content{flex:1;min-width:0;margin:0 20px;}
.calendar_week_tr{display:flex;justify-content: center;text-align: center;margin-bottom:10px;}
.calendar_week_tr.title_row{}
.calendar_week_cell{flex:1;}
.calendar_week_cell.sun{}
.calendar_week_cell.sun .calendar_thtext{color:#d13249;}
.calendar_week_cell.sat{}
.calendar_week_cell.sat .calendar_thtext{color:#0068c8;}
.calendar_thtext{display:inline-block;font-size:15px;color:#333333;line-height:1;}
.calendar_tdtext{font-size:17px;color:#4e4e4e;display:flex;width:30px;height:30px;justify-content: center;align-items: center;margin:0 auto;line-height:1;box-sizing: border-box;padding:0 0 2px;}
.calendar_tdtext.emp_date{color:#fff;border-radius:100%;background:#006abc;}
.calendar_week_tr.content_row{}
.calendar_week_cell{}
.calendar_week_cell.sun{}
.calendar_week_cell.sun .calendar_tdtext{color:#d13249;}
.calendar_week_cell.sat{}
.calendar_week_cell.sat .calendar_tdtext{}
.calendar_tdelse{font-size:13px;color:#6d6c6c;margin-top:5px;}

.option_top_both{display:flex;justify-content: space-between;margin:17px 0 10px;align-items: center;}
.option_top_cols{}
.option_top_cols .bosrd_current_para{}
.option_top_cols .bosrd_current_para strong{}
.option_top_cols:last-of-type{}
.btn_option_toggle_item{}
.option_sort{
	color:#4e4e4e;font-family: 'Noto Sans KR';font-size:15px;border:1px solid #ccc;height: 38px;padding:0 36px 1px 15px;border-radius:100px;-webkit-border-radius:100px;box-sizing:border-box;
    background: #fff url("../images/ico_option_allow.png") no-repeat 100% 50%/28px auto;line-height: 1;-webkit-appearance:none;-moz-appearance:none;appearance:none;
}
.option_sort::-ms-value {background: none; color:#4e4e4e;}
.option_sort::-ms-expand {display: none;}
.option_thumitem_list_wrap{}
.option_thumitem_list{}
.option_thumitem_list > li{margin-bottom:15px;}
.option_thumitem_list > li:last-of-type{margin-bottom:0;}
.option_thumitem{border:1px solid #e9e9e9;border-radius:10px;display:flex;padding:15px 20px;}
.option_thum{flex:0 0 120px;width:120px;height:90px;position:relative;overflow:hidden;border-radius:6px;}
.option_thum > img{position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;object-position: 50% 50%;transition:.5s;transform: scale(1.0);}
.option_thum:hover > img{transform: scale(1.2);}
.option_spec_group{flex:1;margin:0 0 0 20px;min-width:0;}
.option_spec_kind_row{}
.ing_current_text{font-size:13px;color:#c20000;line-height:1;white-space: nowrap;border-radius:100px;padding: 5px 10px 6px;border:1px solid #e95656;display:inline-block;}
.option_spec_title_row{margin-top:10px;}
.option_spec_title{font-size:18px;color:#1b1b1b;font-weight:500;white-space: nowrap; text-overflow: ellipsis;overflow:hidden;position:relative; max-width:99%;display:block;}
.option_spec_else_row{margin-top:10px;display:flex;align-items: center;}
.option_spec_else_row > *{margin-right:35px;}
.option_spec_else_row > *:last-child{margin-right:0;}
.option_spec_else_row .ico_guidetext{}
.option_spec_else_row .author_logo_wrap{}
.option_short_group{flex:0;display:flex;align-items: center;white-space: nowrap;}
.option_short_group > *{margin-right:30px;}
.option_short_group > *:last-child{margin-right:0;}
.option_price{}
.btn_quadobj{font-size:14px;display:inline-block;color:#fff;border-radius:100px;line-height:1;padding:10px 20px 11px;background:#006abc;font-weight:500;}
.option_btn_rows{position:relative;text-align: center;margin-top:28px;}
.option_btn_rows:before{display:block;content:'';height:1px;position:absolute;top:50%;left:0;width:100%;background:#e7e7e7;}
.option_btn_rows .btn_togglebox{z-index:2;}



/* pagination */
.paging_z{position:relative;}
.paging_layer_right{position:absolute;top:-6px;right:0;}
.paging_layer_right .btn_submit{margin: 0 0 0 5px;}
.pagination {text-align: center;line-height:0;font-size:0; padding:0 0 0;margin-top:55px;clear:both;}
.pagination a {display: inline-block; width: 30px;height: 30px;border:1px solid #e3e3e3;border-radius:100%;background: #fff;line-height: 28px;font-size:16px;white-space:nowrap;vertical-align: top;text-align: center;color:#6d6c6c;margin:0 2px;}
.pagination .num{display: inline-block;margin:0 2px;position:relative;}
.pagination .control:hover{border-color: #122232;background-color:#fff;}
.pagination .control:hover:after,
.pagination .control:hover:before{border-color: #122232;}
.pagination .num:hover,
.pagination .num.on {border-color: #122232;color:#fff;background-color:#122232;}
.pagination .control{}
.pagination .first, .pagination .prev, .pagination .next, .pagination .last {overflow: hidden;border:1px solid #d9d9d9;font-size: 0;color:#fff;line-height: 0;}
.pagination .first:after, .pagination .prev:after, .pagination .next:after, .pagination .last:after {display: inline-block;content: '';margin:11px 0 0 0;width: 6px;height: 6px;border-bottom: 1px solid #000;border-left: 1px solid #000;}
.pagination .first:before, .pagination .last:before {display: inline-block;content: '';margin:11px 0 0 0;width: 6px;height: 6px;border-bottom: 1px solid #000;border-left: 1px solid #000;}
.pagination .first:after, .pagination .prev:after {transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.pagination .next:after, .pagination .last:after {transform:rotate(-135deg);-ms-transform:rotate(-135deg);-webkit-transform:rotate(-135deg);}
.pagination .first:before {transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.pagination .last:before {transform:rotate(-135deg);-ms-transform:rotate(-135deg);-webkit-transform:rotate(-135deg);}

.pagination .prev:after{}
.pagination .first:before{}

.pagination .next:after{position:relative;left:-2px;}
.pagination .last:after{}

.pagination .first {}
.pagination .prev {margin-right: 15px;background-position: -34px 0;}
.pagination .next {margin-left: 15px;background-position: -68px 0;}
.pagination .last {background-position: -102px 0;}

.pagination .prev:after{margin-left: 3px}
.pagination .first:before{margin-left: 4px}
.pagination .first:after{margin-left: -3px}

.pagination .next:after{margin-right: 0px}
.pagination .last:before{margin-right: -3px}
.pagination .last:after{margin-right: 3px}




.middle_title_group{padding:45px 0 25px;border-bottom:1px solid #313131;margin-bottom:30px;}
.detail_title{font-size:32px;color:#000000;line-height:1.4;}
.detail_title_copy{font-size:16px;color:#6c6c6c;margin-top:8px;}

.detail_util_group{display:flex;margin-bottom:45px;}
.detail_util_main_cols{flex:1;min-width:0;}
.detail_util_key_row{}
.detail_util_key{font-size:14px;color:#333333;border:1px solid #d5d5d5;border-radius:100px;display:inline-block;padding:8px 15px;min-width:40px;text-align: center;}
.detail_util_value_row{}
.detail_keyword_list{display:flex;flex-wrap:wrap;padding-top:8px;}
.detail_keyword_list > li{margin:7px 18px 0 0;}
.detail_keyword_list > li:last-of-type{}
.detail_keyword{color:#6c6c6c;font-size:15px;display:inline-block;white-space: nowrap;}

.detail_util_sub_cols{flex:0;padding:5px 0 0 20px;}
.detail_util_list{display:flex;}
.detail_util_list > li{margin-right:12px;}
.detail_util_list > li:last-of-type{margin-right:0;}
.ico_util_menu{width:25px;height:25px;display:inline-block;background:url("../images/icon_detail_util.jpg") no-repeat 0 0/100% auto;}
.ico_util_menu.ico_print{}
.ico_util_menu.ico_like{background:url("../images/ico_tail_like.png") no-repeat 0 0/100% auto;}
.ico_util_menu.ico_like.active{background-position:0 100%;}
.ico_util_menu.ico_share{background-position:0 100%;}

.detail_main_row{display:flex;min-width:0;margin-bottom:80px;}
.detail_photo_cols{flex:0 0 700px;width:700px;}
.detail_spec_cols{flex:1;min-width:0;margin-left:36px;}
.swiper-container.detail_photo_container{}
.swiper-container.detail_photo_container .swiper-wrapper{}
.swiper-container.detail_photo_container .swiper-slide{}
.detail_photo_item{}
.detail_photo_item img{width:100%;vertical-align: top;}

.btn_detail_control{z-index:5;position:absolute;top:50%;transform: translateY(-50%);width:50px;height:50px;border-radius:100%;background:rgba(0,0,0,.25);}
.btn_detail_control.prev_control{left:14px;}
.btn_detail_control.next_control{right:14px;}
.btn_detail_control:before{display:block;content:'';width:14px;height:14px;border-left:1px solid #fff;border-bottom:1px solid #fff;position:absolute;top:50%;left:50%;margin:-8px 0 0 -4px;}

.btn_detail_control.prev_control:before{transform:rotate(45deg);}
.btn_detail_control.next_control:before{transform:rotate(225deg);margin-left:-11px;}

.swiper-pagination.detail_photo_paging{font-size:0;line-height:0;position:static;margin-top:25px;}
.swiper-pagination.detail_photo_paging .swiper-pagination-bullet{opacity:1;width:10px;height:10px;margin:0 2px;border-radius:100%;background:#ababab;}
.swiper-pagination.detail_photo_paging .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;background:#535353;border-radius:100px;width:30px;}

.detail_summary_tb_wrap{}
.detail_summary_tb{width:100%;border-top:1px solid #313131;table-layout: auto;}
.detail_summary_tb th,
.detail_summary_tb td{text-align: left;border-bottom:1px solid #d9d9d9;}
.detail_summary_tb th{width:1px;padding:15px;}
.detail_summary_tb td{padding:15px;}
.detail_summary_label{display:inline-block;font-size:15px;font-weight:500;color:#333333;white-space: nowrap;}
.detail_summary_data{font-size:15px;color:#5f5f5f;line-height:1.5;}
.eval_data_item{display:flex;flex-wrap:wrap;}
.eval_data_item.detail_summary_data{}
.eval_data_star{font-size:15px;color:#f65e5e;}
.eval_data_vmodel{margin-left:5px;}

.detail_getdata_row{margin:80px 0 200px;position:relative;}
.detail_getdata_main{margin-right:300px;}
.getdata_vertical_item{margin-bottom:80px;}
.getdata_vertical_item:last-of-type{margin-bottom:0;}
.getdata_tb_wrap{border-top:1px solid #313131;}
.getdata_tb_wrap + .dot_text_list{margin-top:23px;}
.getdata_tb{width:100%;border-bottom:1px solid #d9d9d9;}
.getdata_tb thead th{background:#fcfcfc;border-right:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;padding:15px;}
.getdata_tb thead th:last-of-type{border-right:0;}
.getdata_tb tbody td{border-right:1px solid #d9d9d9;padding:13px 20px;text-align: center;}
.getdata_tb tbody td:last-of-type{border-right:0}
.getdata_tb tbody td.type2{text-align: right;}
.getdata_tb tbody tr:first-of-type td{padding-top:20px;}
.getdata_tb tbody tr:last-of-type td{padding-bottom:20px;}
.getdata_tb tbody tr:last-of-type{}
.getdata_tb tbody tr:last-of-type td{}
.getdata_thtext{font-size:16px;color:#333333;font-weight:500;}
.getdata_thcopy_g{font-size:13px;color:#999999;font-weight:500;margin-top:5px;}
.getdata_thcopy{}
.btn_qus{display:inline-block;width:14px;height:14px;border:1px solid #a0a0a0;color:#5e5e5e;border-radius:100%;font-size:12px;line-height:14px;}
.getdata_tdata{display:inline-block;}
.getdata_tdata.define_label{}
.getdata_tdata.getdata_price_g{}
.getdata_tdata.getdata_price_g .getdata_price_main{}
.getdata_tdata.getdata_price_g .getdata_price_unit{}


.getdata_price_g{font-size:17px;color:#4e4e4e;}
.getdata_price_main{}
.getdata_price_unit{}

.dot_text_list{color:#999999;font-size:14px;line-height:1.4;}
.dot_text_list > li{margin-bottom:10px;position:relative;padding-left:8px;}
.dot_text_list > li:before{display:block;content:'';width:2px;height:2px;background:#999;position:absolute;top:10px;left:0;}
.dot_text_list > li:last-of-type{margin-bottom:0;}

.data_note_item{margin-bottom:50px}
.data_note_item:last-of-type{margin-bottom:0;}
.data_note_title_row{background:#fcfcfc;border-top:1px solid #313131;padding:25px;display:flex;align-items: center;}
.ico_note_o{flex:0 0 25px;margin-right:10px;display:block;width:25px;height:25px;box-sizing: border-box;border-radius:100%;border:3px solid #535353;}
.ico_note_x{flex:0 0 25px;margin-right:10px;display:block;width:25px;height:25px;position:relative;}
.ico_note_x:before,
.ico_note_x:after{display:block;content:'';width:3px;height:24px;background:#5b5b5b;border-radius:3px;position:absolute;top:50%;left:50%;margin:-12px 0 0 -1.5px;}
.ico_note_x:before{transform: rotate(45deg);}
.ico_note_x:after{transform: rotate(-45deg);}
.note_title{font-size:17px;color:#333333;display:block;position:relative;top:-1px;}
.data_note_content_row{}
.data_note_cont{border-bottom:1px solid #e7e7e7;padding:23px;}
.data_note_cont:last-of-type{border-bottom:0;}
.data_note_list{font-size:16px;color:#4e4e4e;}
.data_note_list > li{position:relative;padding-left:8px;margin-bottom:20px}
.data_note_list > li:before{display:block;content:'';width:2px;height:2px;background:#999;position:absolute;top:9px;left:0;}
.data_note_list > li:last-of-type{margin-bottom:0;}

.blue_emp{color:#006cbf !important;}
.blue_emp:before,
.blue_emp:after{background-color:#006cbf !important;}
.blue_emp *{color:#006cbf !important;}

.red_emp{color:#ed4444 !important;}
.red_emp:before,
.red_emp:after{background-color:#ed4444 !important;}
.red_emp *{color:#ed4444 !important;}

.data_note_copy{}
.data_note_copy + .indent_item_list{margin-top:20px;}
.indent_item_list{}
.indent_item_list > li{margin-bottom:20px;}
.indent_item_list > li:last-of-type{margin-bottom:0;}

.indent_item{display:flex;}
.indent_bullet{flex:0;white-space: nowrap;margin-right:3px;}
.indent_item_text{flex:1;}

.getdata_vertical_title{font-size:20px;color:#333333;font-weight:500;margin-bottom:20px;}
.data_rendar_zone{border:1px solid #e7e7e7;padding:30px;text-align: center;}
.data_rendar_zone *{width:auto !important;height:auto !important}
.data_rendar_zone > img{vertical-align: top;display:inline-block !important;}

.getdata_hortab_list_row{}
.getdata_hortab_list{display:flex;border-bottom:1px solid #e7e7e7;box-sizing: border-box;min-height:60px;}
.getdata_hortab_list > li{flex:1;}
.getdata_hortab_list > li.active{}
.getdata_hortab_list > li:last-of-type{}
.getdata_hortab{display:flex;position:relative;height:100%;align-items: center;text-align: center;justify-content: center;}
.getdata_hortab:after{display:none;content:'';height:2px;background:#333c4c;position:absolute;bottom:-1px;left:0;width:100%;}
.getdata_hortab_intext{font-size:16px;color:#333333;}
.getdata_hortab.active:after{display:block;}

.getdata_tabcont_group{}
.getdata_tabcont{display:none;border:1px solid #d0d0d0;padding:30px;margin-top:30px;}
.getdata_tabcont.active{display:block;}

.timeline_vitem{}
.timeline_title_row{padding: 22px 30px 20px;line-height: 20px;color: #000;font-size: 14px;color: #666;font-weight: 500;background: #f2f9fd;}
.timeline_title{}
.timeline_title_main{margin: 0 5px 0 0;font-size: 18px;line-height: 20px;color: #000;}
.timeline_title_sub{font-size: 14px;color: #666;font-weight: 500;background: #f2f9fd;}
.timeline_content_row{}
.timeline_history_list{margin:30px 30px 4px 35px;position:relative;}
.timeline_history_list > li{position:relative;padding:0 0 28px 38px;}
.timeline_history_list > li:before{
	display:block;content: '';width: 11px;height: 11px;
    position: absolute;top: 3px;left: -5px;z-index: 1;
    border-radius: 50%;
    background: #0086d0;}
.timeline_history_list > li:after{
	background: #0086d0;display:block;content: '';width: 1px;height: 100%;
	position: absolute;top: 3px;left: 0px;z-index: 1;
}
.timeline_history_list > li{}
.timeline_history_list > li:last-of-type{}
.timeline_history_list > li:last-of-type:after{display:none;}
.while_map_item{text-align: center;}
.while_map_title{font-size:16px;font-weight:700;color:#006cbf;line-height:1;margin-bottom:15px;}
.while_map_detail{display:flex;justify-content: center;align-items: center;}
.while_map_detail_text{}
.while_map_detail_img{display:block;width:372px;height:30px;background:url("../images/air_plane_item.png") no-repeat 0 0;}
.while_map_time{font-size:16px;margin-top:15px;}
.tl_list{}
.tl_list > li{margin-bottom:15px;}
.tl_list > li:last-of-type{margin-bottom:0;}

.toggle_detail_box{border: 1px solid #DDD;border-radius: 10px;padding: 20px;margin-top:20px;}
.toggle_detail_title_row{display:flex;justify-content: space-between;align-items: center;}
.toggle_detail_title{}
.btn_toggle_control{border:1px solid #ddd;color:#666;padding:5px 10px;font-size:14px;border-radius:100px;display:inline-flex;}
.toggle_control_text{}
.toggle_target_text{font-weight:700;}
.btn_toggle_control.active{}
.btn_toggle_control.active .toggle_control_text{}
.btn_toggle_control.fold .toggle_target_text{color:#e72837;}

.toggle_detail_content_row{}
.toggle_detail_content_row.hidden{display:none;}
.upload_img_both{display: flex;margin:20px -7px;}
.upload_img_cols{flex:0 0 50%;width:50%;box-sizing: border-box;padding:0 7px;}
.upload_img_wrap > img{vertical-align: top;position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;object-position: 50% 50%;}
.upload_img_wrap{height:227px;position:relative;overflow:hidden;}
.toggle_detail_para{color:#666;line-height:1.4;}

.timeline_elsedata_row{}
.elsedata_tb{width:100%;table-layout: auto;border-top:1px solid #d0d0d0;}
.elsedata_tb th,
.elsedata_tb td{border-bottom:1px solid #d0d0d0;padding:22px 0;}
.elsedata_tb th{width:1px;padding:0 60px 0 30px}
.elsedata_tb tr{}
.elsedata_tb tr:last-of-type th,
.elsedata_tb tr:last-of-type td{border-bottom:0;}
.elsedata_tb td{}
.elsedata_label{display: inline-block;font-size: 16px;line-height: 18px;color: rgba(6,7,1,.5);white-space: nowrap;font-weight:500;}
.elsedata_value{display: inline-block;color: rgba(6,7,1,.8);}

.detail_banner_fxwrap{display:flex;margin:0 -10px;}
.detail_banner_fxcols{flex:0 0 50%;width:50%;box-sizing: border-box;padding:0 10px;}
.detail_banner_fxtitle{
    position: relative;display: block;margin: 0 0 22px;
    font-size: 30px;line-height: 32px;color: #000;
}
.detail_banner_fxcont{}

.swiper-container.detail_banner_fxswiper{}
.swiper-container.detail_banner_fxswiper .swiper-wrapper{}
.swiper-container.detail_banner_fxswiper .swiper-slide{}

.swiper-pagination.detail_banner_paging{font-size:0;line-height:0;position:static}
.swiper-pagination.detail_banner_paging .swiper-pagination-bullet{opacity:1;width:10px;height:10px;margin:0 2px;border-radius:100%;background:#fff;}
.swiper-pagination.detail_banner_paging .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;background:#1b5360;}

.btn_detail_control{}
.btn_detail_control.prev_control{}
.btn_detail_control.next_control{}

.detail_banner_item{}
.detail_banner_thum{height:261px;position:relative;overflow:hidden;}
.detail_banner_thum > img{vertical-align: top;width:100%;height:100%;position:absolute;top:0;left:0;object-fit: cover;object-position: 50% 50%;}
.detail_banner_spec_wrap{}
.detail_banner_spec_tb{width:100%;table-layout: auto;}
.detail_banner_spec_tb th,
.detail_banner_spec_tb td{text-align: left;border-bottom:1px solid #d0d0d0;}
.detail_banner_spec_tb th{width:1px;padding:15px 20px;}
.detail_banner_spec_tb td{padding:15px 10px;}
.detail_spec_label{white-space:nowrap;color:rgba(6,7,1,.5);line-height:1.3;font-size:16px;font-weight:400;white-space: nowrap;}
.detail_spec_data{color: rgba(6,7,1,.8);font-size:16px;font-weight:400;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;line-height:1.3}
.detail_spec_link{color:#006cbf;}
.detail_spec_link:hover{text-decoration: underline;}

.detail_getdata_sub_cols{flex:0 0 277px;}
.pay_control_box_wrap{width:100%;position:absolute;top:0;left:0;}
.pay_control_box_wrap.fixed{width:1280px;position:fixed;top:0;left:calc(50% - 40px);transform: translateX(-50%);z-index:6;}
.pay_control_box_wrap.bottom_pos{position:absolute !important;left:0 !important;top:auto !important;bottom:0 !important;width:100% !important;transform: none !important;}
.pay_control_box_wrap.bottom_pos .pay_control_box{top:auto;bottom:0;}
.pay_control_box{border:1px solid #d0d0d0;position:absolute;top:0;right:0;width:277px;box-sizing: border-box;background:#fff;box-sizing: border-box;}
.pay_control_row{border-bottom:1px solid #dddddd;padding:28px 30px;}
.pay_control_row:last-of-type{border-bottom:0;}
.pay_control_btn_row{}
.btn_pay_main{display:block;font-size:16px;color:#fff;background:#333c4c;text-align: center;padding:17px 15px;}
.btn_pay_main.type2{background:#f9be00;color:#000;}

.pay_control_spec_row{margin-top:20px;}

.pay_control_spec_list{}
.pay_control_spec_list > li{display:flex;justify-content: space-between;align-items: center;margin-bottom:20px}
.pay_control_spec_list > li:last-of-type{margin-bottom:0;}

.pay_control_spec_cols{}
.pay_cspec_label{display:inline-block;color:#868686;font-size:14px;line-height:1;}
.pay_cspec_number_g{margin-top:5px;}
.price_number_wrap{display:flex;color:#e72837;align-items: center;}
.price_number_main{font-weight:700;font-size:15px;}
.price_number_unit{}
.pay_control_value_cols{}

select.spec_combo{font-family: 'Noto Sans KR';min-width:60px;color:#323232;font-size:14px;border:1px solid #ddd;height:32px;padding: 0 27px 0 10px;box-sizing:border-box;
    background: #fff url("../images/ico_select_allow2.png") no-repeat 100% 50%/19px auto;line-height: 30px;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.spec_combo::-ms-value {background: none; color:#222;}
.spec_combo::-ms-expand {display: none;}
.spec_combo.ready_select{color:#9c9c9c;}

.pay_price_wrap{margin-bottom:20px;}
.pay_price_both{display:flex;justify-content: space-between;align-items: center;}
.pay_total_label{display:inline-block;font-size:15px;position:relative;top:2px;}
.pay_price_both{}
.pay_price_both .price_number_wrap{}
.pay_price_both .price_number_main{font-size:23px;}
.pay_price_both .price_number_unit{font-size:15px;}
.pay_price_both + .pay_control_btn_row{margin-top:20px;}
.pay_control_copy{text-align: right;margin-top:8px;font-size:14px;color:#333;}


.swiper-pagination.detail_banner_paging{font-size:0;line-height:0;position:static;margin-top:25px;}
.swiper-pagination.detail_banner_paging .swiper-pagination-bullet{opacity:1;width:10px;height:10px;margin:0 2px;border-radius:100%;background:#ababab;}
.swiper-pagination.detail_banner_paging .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;background:#535353;border-radius:100px;width:30px;}



/* landing */
.btn_oplayer{width:248px;height:45px;display:block;position:absolute;top:0;right:0;}
.page_wrap.landing_wrap{padding-bottom:60px;}
.landing_top{background:url("../images/member_cash_top.jpg") no-repeat 50% 0;height:746px;}
.landing_tape{background:#333333;text-align: center;}
.landing_tape.type2{background:#303030;}
.landing_tape_item{position:relative;width:1000px;margin:0 auto;}
.landing_tape_item .btn_oplayer{top:31px;right:37px;}
.landing_tape_item img{}
.landing_mid{font-size:0;line-height:0;}
.landing_mid_imgitem{}
.landing_mid_imgitem > img{transform: translateX(-50%);position:relative;left:50%;}
.landing_mid2{background:#f3f3f3;text-align: center;}
.landing_mid2_imgitem{}
.landing_mid2_imgitem img{}
.landing_tape_item{}
.landing_tape_item img{}
.landing_ticket_wrap{}
.landing_ticket_box_group{display:flex;width:1000px;margin:77px auto 90px;justify-content: space-between;}
.landing_ticket_box_cols{display:inline-block;font-size:0;line-height:0;position:relative;}
.landing_ticket_box_cols .btn_oplayer{top:auto;bottom:26px;left:36px;width:253px;height:51px;}
.landing_ticket_box_cols img{}

.landing_data_table_wrap{width:1000px;margin:0 auto;}
.landing_data_table{width:100%;border-top:5px solid #434343;border-bottom:5px solid #434343;}
.landing_data_table th{padding:30px;border-bottom:1px solid #7d7d7d;width:240px;background:#e5e4e4;text-align: center;}
.landing_data_table td{font-weight:400;border-bottom:1px solid #7d7d7d;padding:30px 60px}
.landing_data_table tr:last-of-type th,
.landing_data_table tr:last-of-type td{border-bottom:0}
.landing_data_label{font-size:22px;color:#2c2c2c;font-weight:500;}
.landing_data_value{font-size:20px;font-weight:300;line-height:1.3;}
.landing_data_value *{word-break: keep-all;}
.landing_data_value .indent_item_list > li{margin-bottom:10px}
.landing_data_value .indent_item_list > li:last-of-type{margin-bottom:0}
.indent_item_list{}
.indent_item_list > li{}
.indent_item_list > li:last-of-type{}




.golf_guide_box {
    background: #fffdf6 url('../images/bg_golf_guide_box.jpg') no-repeat right center;
    padding: 25px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px
}

.golf_guide_box h4 {
    
    display: flex; align-items: center;
    text-transform: uppercase;
    font-size: 24px; font-weight:500; margin-right:50px;
}

.golf_guide {
    display: flex;
}

.golf_guide li {
    padding: 0 25px 0 0;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color: #666;
    width: 25%;
}

.golf_guide li span {
    display: block;
    margin: 32px 0 12px;
    font-size: 16px;
    line-height: 18px;
    color: #000
}

.golf_guide li p {
    border-radius: 100%;
    display:flex;align-items: center;justify-content: center;
    width: 100px;
    height: 100px;
    border: 1px solid #efe8bd;
    background: #FFF;
    text-align: center;
    margin: 0 auto 10px;
}

.golf_guide li p img {
    vertical-align: middle;
}

.bt_golf_guide {
    overflow: hidden;
    margin: 50px 0 75px;
}

.bt_golf_guide a {
    float: left;
    width: 436px;
    height: 60px;
    padding: 0 0 0 30px;
    font-size: 18px;
    line-height: 60px;
    color: #000;
    background: #f2f2f2 url("../../images/yt/arrow2.png") no-repeat right 30px center
}

.bt_golf_guide a:last-child {
    float: right;
}
