
.middle_zone{}
.mv_wrap{}
.btn_mv_control{}
.btn_mv_control.prev_control{}
.btn_mv_control.next_control{}
.swiper-container{}
.swiper-container.mv_container{}
.swiper-container.mv_container .swiper-wrapper{}
.swiper-container.mv_container .swiper-slide{}
.mv_item{}


.mv_bottom_control_wrap{display:block;position:absolute;bottom:80px;left:0;width:100%;z-index:10;text-align: center;}
.mv_bottom_control_wrap.type2{bottom:30px;}
.mv_bottom_in_control{display:inline-flex;justify-content: center;align-items:center;background:rgba(0,0,0,.3);border-radius:100px;padding:8px 25px;}
.mv_bottom_cols{margin:0 6px;}
.mv_bottom_cols.has_navi{}
.mv_bottom_cols.has_auto{}
.swiper-pagination.main_visual_paging{font-size:0;line-height:0;position:static}
.swiper-pagination.main_visual_paging .swiper-pagination-bullet{opacity:1;width:10px;height:10px;margin:0 2px;border-radius:100%;background:#fff;}
.swiper-pagination.main_visual_paging .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;background:#1b5360;}
.swiper_auto_control_list{border:1px solid rgba(255,255,255,.22);display:flex;align-items: center;border-radius:3px;}
.swiper_auto_control_list > li{border:1px solid rgba(255,255,255,.22);border-right:0;}
.swiper_auto_control_list > li:last-of-type{}
.btn_mv_stop,
.btn_mv_play{display:inline-block;width:30px;height:30px;background:url("../images/btn_main_play.png") no-repeat 0 100%/100% auto;}
.btn_mv_stop{}
.btn_mv_play{background-position:0 0;}

.mvlayer_parent{position:absolute;bottom:0;width:1200px;left:50%;transform: translateX(-50%);height:0;z-index:10;}

.swiper-container.mv_banner_container{}
.swiper-container.mv_banner_container .swiper-wrapper{}
.swiper-container.mv_banner_container .swiper-slide{}
.swiper-container.mv_banner_container .mv_banner_item{}

.swiper-pagination.mv_banner_paging{font-size:0;line-height:0;position:static}
.swiper-pagination.mv_banner_paging .swiper-pagination-bullet{opacity:1;width:10px;height:10px;margin:0 2px;border-radius:100%;background:#fff;}
.swiper-pagination.mv_banner_paging .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;background:#1b5360;}

.mc_wrap{}
.mc_row.mc_data_group{}

.mc_row{margin:130px auto 0;width:1200px;}
.mc_row:last-of-type{}
.mc_row.vertical_item{}
.mc_row.vertical_item.fulltype{width:auto;position:relative;background:#f8f8f8;}
.mc_row.else_guide_type{width:auto;background:url("../images/bg_mcgray.jpg") no-repeat 0 0/cover;padding:75px 0 115px;}
.vertical_title{font-size:32px;color:#000000;font-weight:500;padding-bottom:25px;border-bottom:1px solid #828282;text-align: center;}
.vertical_slider_row{margin-top:40px;}
.swiper_slider_item{margin:0 -17px;position:relative;}
.swiper_slider_item.dtype2{margin:0 -12px;}
.swiper_slider_item.dtype2 .mc_thumbanner{margin:0 12px;}
.swiper_slider_item.dtype2 .thum_rows{height:0;padding-bottom:74.46808510638298%;}
.swiper_slider_item.dtype2 .spec_rows{padding:18px 20px;}
.swiper_slider_item .swiper-container{}
.swiper_slider_item .swiper-wrapper{}
.swiper_slider_item .swiper-slide{}
.btn_slider_control_wrap{position:absolute;top:0;width:30px;height:calc(100% - 28px);display:flex;align-items: center;justify-content: center;}
.btn_slider_control_wrap.left_pos{left:-30px;}
.btn_slider_control_wrap.right_pos{right:-30px;}

.btn_slider_control{display:block;width:26px;height:26px;border:1px solid #c7c7c7;border-radius:100%;position:relative;background-color:#fff;}
.btn_slider_control:after{display:block;content:'';width:8px;height:8px;border-left:1px solid #000;border-bottom:1px solid #000;position:absolute;top:50%;left:50%;}
.btn_slider_control.prev_control:after{transform: rotate(45deg);margin:-5px 0 0 -2px;}
.btn_slider_control.next_control:after{transform: rotate(225deg);margin:-5px 0 0 -6px;}


.mc_data_item{}
.mc_data_item:last-of-type{}
.mc_data_title_row{}
.mc_data_title_item{}
.mc_data_title_label{}
.mc_data_title_label.type2{}
.mc_data_title_main{}
.mc_data_title_main:before{}
.mc_data_title_main .highlight{}

.mc_data_content_row{}

.swiper-container.mc_swiper_list{}
.swiper-container.mc_swiper_list .swiper-wrapper{}
.swiper-container.mc_swiper_list .swiper-slide{}
.swiper-container.mc_swiper_list .mv_banner_item{}

.mc_thumbanner{}
.thum_rows{position:relative;height:260px;overflow:hidden;border-radius:20px 20px 0 0;}
.thum_rows > img{position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;object-position: 50% 50%;transition:.5s;transform: scale(1.0);}
.spec_rows{border:1px solid #dadada;border-top:0;padding:25px 20px;background:#fff;position:relative;z-index:5;border-radius: 0 0 20px 20px;}

.spec_inlink_item{}

.box_label{display:inline-block;background:#fa5555;border-radius:6px 6px 6px 0;color:#fff;font-size:12px;line-height:1;padding:5px 12px;border-radius:6px 6px 6px 0;}
.box_label.dtype2{padding:8px;border-radius:6px 0 6px 0;}
.box_label.ctype2{background-color:#ed4444;}
.box_label.ctype3{background-color:#006cbf;}

.spec_rows .box_label{position:absolute;top:0;transform: translateY(-50%);}

.mc_spec_sub_copy{}
.mc_spec_main_copy{}
.mc_spec_else_copy{}
.mc_spec_price{}
.price_num_group{display:flex;white-space: nowrap;position:relative;align-items: center;color:#333333;justify-content: flex-end;}
.price_num_group:last-of-type{}
.price_num_value{font-weight: 700;font-size:24px;}
.price_num_unit{font-weight:350;font-size:18px;color:#5f5f5f;}

.price_num_group.before_type{}
.price_num_group.before_type .price_num_value{font-weight: 700;font-size:24px;}
.price_num_group.before_type .price_num_unit{font-weight:350;font-size:18px;color:#5f5f5f;}

.btn_thum_like{}
.btn_thum_like.active{}


.swiper-pagination.mc_paging{font-size:0;line-height:0;position:static}
.swiper-pagination.mc_paging .swiper-pagination-bullet{opacity:1;width:10px;height:10px;margin:0 2px;border-radius:100%;background:#fff;}
.swiper-pagination.mc_paging .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;background:#1b5360;}


.mc_data_item{}
.mc_data_title_row{}
.mc_data_title_item{}
.mc_data_title_label{}
.mc_data_title_main{}

.data_content_item{}
.data_content_kind_cols{}
.data_kind_top{}
.data_kind_title_g{}
.data_kind_title_main{}
.data_kind_title_sub{}
.data_keyword_list{}
.data_keyword_list > li{}
.data_keyword_list > li:last-of-type{}
.data_keyword_item{}
.data_kind_bottom{}
.btn_kind_item{}

.data_content_list_cols{}
.mc_thumbanner_list{}
.mc_thumbanner_list > li{}
.mc_thumbanner_list > li:last-of-type{}
.mc_thumbanner_list .mc_thumbanner{}


.mc_row.else_guide_type{width:auto;background:url("../images/bg_custom_global.png") no-repeat 0 0/cover;padding:75px 0 115px;}
.mc_else_guide_title{text-align:center;font-size:32px;color:#000;font-weight:500;margin-bottom:35px;letter-spacing: -1px;}
.mc_else_content{width:1200px;margin:0 auto;}
.mc_else_crow{}
.mc_else_crow:last-of-type{}

.mc_else_grid_list{display:flex;margin:-7px;}
.mc_else_grid_list.type2{margin:28px -12px -12px -12px;}
.mc_else_grid_item{background:#fff;border:1px solid #d2d2d2;border-radius:10px;margin:7px;flex:1}
.mc_else_grid_box{background:#fff;border:1px solid #d2d2d2;border-radius:10px;margin:12px;flex:1;padding:20px;display:flex;}
.mc_else_grid_ico{display:inline-block;width:80px;height:80px;border:1px solid #e7e7e7;border-radius:100%;background:url("../images/ico_customer.png") no-repeat 0 0/100% auto;}
.mc_else_grid_ico.type2{background-position:0 100%;}
.mc_else_grid_title_w{border-bottom:1px solid #e8e8e8;padding:20px 26px 18px;}
.mc_else_grid_title{font-size:18px;color:#2b2b2b;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;line-height:1.3}
.mc_else_grid_spec{padding:15px 20px;display:flex;align-items: flex-start;}
.mc_else_grid_spec_text{margin-top:10px;flex:1;color:#5f5f5f;font-size:14px;color:#2b2b2b;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;line-height:1.3}
.mc_else_grid_spec_photo{width:90px;height:90px;flex:0 0 90px;position:relative;border-radius:100%;overflow:hidden;margin-left:20px;}
.mc_else_grid_spec_photo > img{position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;object-position: 50% 50%;transition:.5s;transform: scale(1.0);}
.mc_else_grid_spec_g{margin:12px 0 0 20px;}
.mc_else_grid_spec_label{font-size:18px;color:#2b2b2b;font-weight:500;}
.mc_else_grid_main_copy_g{margin-top:13px;color:#1f1f1f;display:flex;align-items: flex-end;}
.mc_else_grid_main_copy{font-size:30px;color:#1f1f1f;font-weight:700;}
.mc_else_grid_sub_copy{font-size:16px;margin:0 0 3px 10px;}
.mc_else_grid_add_text_list{margin-top:10px;display:flex;flex-wrap:wrap;font-size:13px;color:#6d6c6c;}
.mc_else_grid_add_text_list > li{position:relative;padding-left:10px;margin:5px 10px 0 0;}
.mc_else_grid_add_text_list > li:after{display:block;content:'-';position:absolute;top:0;left:0;}
.mc_else_grid_main2_copy_g{display:flex;align-items: flex-end;margin-top:14px;}
.mc_else_grid_main2_copy_g .mc_else_grid_sub_copy{font-size:20px;color:#1b1b1b;line-height:1;font-weight:500;margin:0 10px 0 0;}
.mc_else_grid_main2_copy{font-size:24px;color:#1f1f1f;font-weight:700;}
.mc_else_cash_text{font-size:15px;margin-top:10px;}




/* 
.middle_zone{}
.mv_zone{height:620px;position:relative;font-size:0;line-height:0;}
.mv_zone.nodata_type .btn_mv_control,
.mv_zone.nodata_type .mv_bottom_control_wrap{display:none;}
.swiper-nodata{width:100%;height:620px;display:flex;align-items: center;justify-content: center;}
.swiper-nodata.type2{height:419px;}
.swiper-nodata.type3{height:160px;background:#ddd;}
.mv_zone .swiper-nodata{background:#ddd;}
.nodata_para{color:#000;font-size:15px;text-align: center;line-height:1.5;}
.mv_item{display:block;height:620px;background-repeat: no-repeat;background-position:50% 50%;}
.btn_mv_control{display:block;position:absolute;top:50%;transform: translateY(-50%);width:54px;height:54px;border-radius:100%;background:rgba(0,0,0,.4);border-radius:100%;z-index:10}
.btn_mv_control:after{display:block;content:'';width:8px;height:8px;border-left:1px solid #fff;border-bottom:1px solid #fff;position:absolute;top:50%;left:50%;transform: translateZ(0) rotate(45deg);margin:-4px 0 0 -3px}
.btn_mv_control.prev_control{left:20px;}
.btn_mv_control.next_control{right:20px;}
.btn_mv_control.next_control:after{margin-left:-6px;transform: translateZ(0) rotate(225deg);}

.swiper-pagination.mc_paging{position:static;font-size:0;line-height:0;padding-top:18px;}
.swiper-pagination.mc_paging .swiper-pagination-bullet{margin:0 2px;width:10px;height:10px;background:#d2d2d2;opacity:1;}
.swiper-pagination.mc_paging .swiper-pagination-bullet.swiper-pagination-bullet-active{background:#4e4e4e;width:30px;border-radius:100px;}

.swiper-pagination.mc_paging.type2 .swiper-pagination-bullet.swiper-pagination-bullet-active{width:30px;border-radius:100px;}


.mv_bottom_control_wrap{display:block;position:absolute;bottom:80px;left:0;width:100%;z-index:10;text-align: center;}
.mv_bottom_control_wrap.type2{bottom:30px;}
.mv_bottom_in_control{display:inline-flex;justify-content: center;align-items:center;background:rgba(0,0,0,.3);border-radius:100px;padding:8px 25px;}
.mv_bottom_cols{margin:0 6px;}
.mv_bottom_cols.has_navi{}
.mv_bottom_cols.has_auto{}
.swiper-pagination.main_visual_paging{font-size:0;line-height:0;position:static}
.swiper-pagination.main_visual_paging .swiper-pagination-bullet{opacity:1;width:10px;height:10px;margin:0 2px;border-radius:100%;background:#fff;}
.swiper-pagination.main_visual_paging .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;background:#1b5360;}
.swiper_auto_control_list{border:1px solid rgba(255,255,255,.22);display:flex;align-items: center;border-radius:3px;}
.swiper_auto_control_list > li{border:1px solid rgba(255,255,255,.22);border-right:0;}
.swiper_auto_control_list > li:last-of-type{}
.btn_mv_stop,
.btn_mv_play{display:inline-block;width:30px;height:30px;background:url("../images/main/btn_main_play.png") no-repeat 0 100%/100% auto;}
.btn_mv_stop{}
.btn_mv_play{background-position:0 0;}




.mvlayer_parent{position:absolute;bottom:0;width:1200px;left:50%;transform: translateX(-50%);height:0;z-index:10;}
.search_field_wrap{position:absolute;top:0;left:0;transform: translateY(-50%);background:#fff;border-radius:100px;z-index:10;width:100%;border:1px solid #727272;display:flex;}
.search_field_cols{flex:1;border-right:1px solid #e4e4e4;display:flex;min-height:98px;align-items:center;padding:0 30px;}
.search_field_cols:first-child{padding-left:45px;}
.search_field_cols:last-child{border-right:0}
.search_field_cols:after{display:block;content:'';width:54px;height:54px;margin-left:35px;flex:0 0 54px;background:url("../images/ico_search_label.png") no-repeat 0 0;}
.search_field_cols.define_local{min-width:195px;}
.search_field_cols.define_local:after{background-position:0 0;}
.search_field_cols.define_theme{min-width:271px;}
.search_field_cols.define_theme:after{background-position:0 50%;}
.search_field_cols.define_start{min-width:225px;}
.search_field_cols.define_start:after{background-position:0 100%;}
.search_field_cols.define_search{}
.search_field_cols.define_search:after{display:none;}
.search_field_cols.define_btn{flex:0 0 110px;display:flex;align-items: center;justify-content: center;padding:0;}
.search_field_cols.define_btn:after{display:none;}

.search_field_cols.result_mode{}
.search_field_cols.result_mode .search_form_text_place{display:none;}
.search_field_cols.result_mode .search_form_text_result{display:flex;}

.search_field_form{flex:1;}

.search_form_text_g{margin-top:10px;}
.search_form_label{font-size:18px;color:#000000;font-weight:500;line-height:1;}
.search_form_text_result{display:none;flex-wrap:wrap;min-height:20px;align-items: center;font-size:15px;color:#000;line-height:1.3;}
.search_form_text_place{display:flex;flex-wrap:wrap;min-height:20px;align-items: center;font-size:15px;color:#999999;line-height:1.3;}

.input_search_form{height:20px;line-height:1;font-size:15px;padding:0;width:100%;box-sizing: border-box;font-family:'Noto Sans KR';}

.mvlayer_parent{}
.btn_search_form{display:block;width:42px;height:42px;background:url("../images/ico_search_submit.png") no-repeat 50% 50%;}

.mc_zone{padding:50px 0 100px 0;}
.mc_slide_row_group{background:#f9feff;margin:85px 0 0 0;padding-bottom:85px;}
.mc_slide_row_group .mc_row{padding:80px 0 0;margin-top:0 !important;}
.mc_row{margin:130px auto 0;width:1200px;}
.mc_row:last-of-type{}
.mc_row.vertical_item{}
.mc_row.vertical_item.fulltype{width:auto;position:relative;background:#f8f8f8;}
.mc_row.else_guide_type{width:auto;background:url("../images/bg_mcgray.jpg") no-repeat 0 0/cover;padding:75px 0 115px;}
.vertical_title{font-size:32px;color:#000000;font-weight:500;padding-bottom:25px;border-bottom:1px solid #828282;text-align: center;}
.vertical_slider_row{margin-top:40px;}
.swiper_slider_item{margin:0 -17px;position:relative;}
.swiper_slider_item.dtype2{margin:0 -12px;}
.swiper_slider_item.dtype2 .mc_thumbanner{margin:0 12px;}
.swiper_slider_item.dtype2 .thum_rows{height:0;padding-bottom:74.46808510638298%;}
.swiper_slider_item.dtype2 .spec_rows{padding:18px 20px;}
.swiper_slider_item .swiper-container{}
.swiper_slider_item .swiper-wrapper{}
.swiper_slider_item .swiper-slide{}
.btn_slider_control_wrap{position:absolute;top:0;width:30px;height:calc(100% - 28px);display:flex;align-items: center;justify-content: center;}
.btn_slider_control_wrap.left_pos{left:-30px;}
.btn_slider_control_wrap.right_pos{right:-30px;}

.btn_slider_control{display:block;width:26px;height:26px;border:1px solid #c7c7c7;border-radius:100%;position:relative;background-color:#fff;}
.btn_slider_control:after{display:block;content:'';width:8px;height:8px;border-left:1px solid #000;border-bottom:1px solid #000;position:absolute;top:50%;left:50%;}
.btn_slider_control.prev_control:after{transform: rotate(45deg);margin:-5px 0 0 -2px;}
.btn_slider_control.next_control:after{transform: rotate(225deg);margin:-5px 0 0 -6px;}



.mc_thumbanner{display:block;margin:0 17px;position:relative;}
.thum_rows{position:relative;height:260px;overflow:hidden;border-radius:20px 20px 0 0;}
.thum_rows > img{position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;object-position: 50% 50%;transition:.5s;transform: scale(1.0);}
.ico_thum_label{display:block;width:36px;height:36px;background:#f9cf10 url("../images/ico_label_finger.png") no-repeat 50% 50%;border-radius:100%;position:absolute;bottom:14px;right:40px;}
.thum_layer_group{position:absolute;top:0;left:0;display:flex;}
.thum_label_box{width:54px;height:54px;display:flex;align-items: center;text-align: center;justify-content: center;font-size:14px;color:#ffffff;line-height:1.2;}
.thum_label_box.bg_brown{background:#a9815e;}
.thum_label_box.bg_orange{background:#e67f4c;}
.thum_label_box.bg_sky{background:#6883ba;}
.thum_label_box.bg_purple{background:#8d72ca;}


.thum_rows .thum_label{}
.mc_thumbanner:hover .thum_rows > img{transform: scale(1.2);}

.spec_rows{border:1px solid #dadada;border-top:0;padding:25px 20px;background:#fff;position:relative;z-index:5;border-radius: 0 0 20px 20px;}
.mc_spec_title,
.mc_spec_sub{overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;line-height:1.3}
.mc_spec_title{font-size:19px;color:#333333;font-weight:500;margin-bottom:8px;line-height:1.3;}
.mc_spec_title.clamp_02{-webkit-line-clamp: 2;}
.mc_spec_sub{font-size:14px;color:#999999;font-weight:500;overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;line-height:1.3}
.mc_spec_price{margin-top:15px;}
.price_num_group{display:flex;white-space: nowrap;position:relative;align-items: center;color:#333333;justify-content: flex-end;}
.price_num_group:last-of-type{}
.price_num_value{font-weight: 700;font-size:24px;}
.price_num_unit{font-weight:350;font-size:18px;color:#5f5f5f;}

.badge_circle{display:inline-flex;width:50px;height:50px;background:#e67f4c;justify-content: center;align-items: center;color:#fff;position:absolute;top:-12px;right:-12px;border-radius:100%;}
.badge_circle.ctype2{background-color:#59ba89;}
.badge_circle.ctype3{background-color:#8d72ca;}

.box_label{display:inline-block;background:#fa5555;border-radius:6px 6px 6px 0;color:#fff;font-size:12px;line-height:1;padding:5px 12px;border-radius:6px 6px 6px 0;}
.box_label.dtype2{padding:8px;border-radius:6px 0 6px 0;}
.box_label.ctype2{background-color:#ed4444;}
.box_label.ctype3{background-color:#006cbf;}

.spec_rows .box_label{position:absolute;top:0;transform: translateY(-50%);}

.badge{display:inline-flex;align-items: center;position:absolute;top:0;right:0;padding:10px 20px;border-radius:0 0 0 20px;background:rgba(0,130,229,.8);}
.badge_text{color:#fff;font-size:15px;font-weight:500;line-height:1;display:inline-block;white-space: nowrap;}
.badge_icon{background:url("../images/icon_badge.png") no-repeat 0 0/100% auto;width:16px;height:20px;flex:0 0 16px;margin-left:6px;}
.badge.type2{background:rgba(80,119,231,.8);}
.badge.type2 .badge_text{}
.badge.type2 .badge_icon{background-image:url("../images/icon_badge2.png");width:21px;height:21px;flex-basis: 21px;}


.mc_full_item_inner{width:1200px;margin:0 auto;position:relative;padding:60px 0 40px;display:flex;}
.mc_bull_tab_bg{background:#1b5360 url("../images/bg_mc_title.jpg") no-repeat 100% 0/auto 100%;height:100%;width:100vw;position:absolute;top:0;right:780px;}
.mc_full_tab_cols{flex:0 0 280px;position:relative;z-index:1;}
.mc_full_title_group{}
.mc_full_main_title{font-weight:700;color:#fff;font-size:44px;line-height:1;}
.mc_full_sub_title{margin-top:10px;color:#fff;font-weight:500;line-height:1;font-size:26px;}
.mc_full_add_copy{margin-top:25px;color:#fff;font-size:14px;line-height:1.3;}
.mc_full_slider_cols{}
.mc_full_slider_cols .swiper-slide{margin:12px 0;}

.mc_vtab_list{margin:30px 30px 30px 160px;}
.mc_vtab_list > li{margin-bottom:8px;}
.mc_vtab_list > li:last-of-type{margin-bottom:0;}
.mc_vtab{display:inline-block;font-size:14px;font-weight:500;border:1px solid rgba(255,255,255,.8);min-width:120px;box-sizing: border-box;text-align: center;padding:10px 20px;color:#fff;border-radius:100px;}
.mc_vtab.active{background:#fff;color:#1b5360;font-weight:700;}

.mc_else_guide_title{text-align:center;font-size:32px;color:#000;font-weight:500;margin-bottom:35px;letter-spacing: -1px;}
.mc_else_content{width:1200px;margin:0 auto;}
.mc_else_crow{}
.mc_else_crow:last-of-type{}

.mc_else_grid_list{display:flex;margin:-7px;}
.mc_else_grid_list.type2{margin:28px -12px -12px -12px;}
.mc_else_grid_item{background:#fff;border:1px solid #d2d2d2;border-radius:10px;margin:7px;flex:1}
.mc_else_grid_box{background:#fff;border:1px solid #d2d2d2;border-radius:10px;margin:12px;flex:1;padding:20px;display:flex;}
.mc_else_grid_ico{display:inline-block;width:80px;height:80px;border:1px solid #e7e7e7;border-radius:100%;background:url("../images/icon_customer.png") no-repeat 0 0/100% auto;}
.mc_else_grid_ico.type2{background-position:0 100%;}
.mc_else_grid_title_w{border-bottom:1px solid #e8e8e8;padding:20px 26px 18px;}
.mc_else_grid_title{font-size:18px;color:#2b2b2b;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;line-height:1.3}
.mc_else_grid_spec{padding:15px 20px;display:flex;align-items: flex-start;}
.mc_else_grid_spec_text{margin-top:10px;flex:1;color:#5f5f5f;font-size:14px;color:#2b2b2b;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;line-height:1.3}
.mc_else_grid_spec_photo{width:90px;height:90px;flex:0 0 90px;position:relative;border-radius:100%;overflow:hidden;margin-left:20px;}
.mc_else_grid_spec_photo > img{position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;object-position: 50% 50%;transition:.5s;transform: scale(1.0);}
.mc_else_grid_spec_g{margin:12px 0 0 20px;}
.mc_else_grid_spec_label{font-size:18px;color:#2b2b2b;font-weight:500;}
.mc_else_grid_main_copy_g{margin-top:13px;color:#1f1f1f;display:flex;align-items: flex-end;}
.mc_else_grid_main_copy{font-size:30px;color:#1f1f1f;font-weight:700;}
.mc_else_grid_sub_copy{font-size:16px;margin:0 0 3px 10px;}
.mc_else_grid_add_text_list{margin-top:10px;display:flex;flex-wrap:wrap;font-size:13px;color:#6d6c6c;}
.mc_else_grid_add_text_list > li{position:relative;padding-left:10px;margin:5px 10px 0 0;}
.mc_else_grid_add_text_list > li:after{display:block;content:'-';position:absolute;top:0;left:0;}
.mc_else_grid_main2_copy_g{display:flex;align-items: flex-end;margin-top:14px;}
.mc_else_grid_main2_copy_g .mc_else_grid_sub_copy{font-size:20px;color:#1b1b1b;line-height:1;font-weight:500;margin:0 10px 0 0;}
.mc_else_grid_main2_copy{font-size:24px;color:#1f1f1f;font-weight:700;}
.mc_else_cash_text{font-size:15px;margin-top:10px;}





.poslayer_z{display:none;position:absolute;top:0;left:0;z-index:10;width:327px;box-sizing: border-box;border-radius: 10px;background:#fff;border: 1px solid #787878;}
.poslayer_z.wtype2{width:350px;}
.poslayer_w{}
.poslayer_z.active{display:block;}
.poslayer_titlow{font-family: 'Noto Sans KR';text-align:center;}
.poslayer_contlow{padding:25px 20px 0;font-family: 'Noto Sans KR';}
.poslayer_titlow{}
.poslayer_tit{font-size:18px;color:#1b1b1b;padding:26px 30px;border-bottom:1px solid #e7e7e7;margin:0 15px;font-family: 'Noto Sans KR';font-weight:500;margin:0 20px;}
.poslayer_tit.type2{border-color:#e7e7e7;margin:0 30px;}

.pcont_w{padding:0 20px 25px;}

.btn_psubmit_w{border-top:1px solid #e7e7e7;padding:18px;min-width:0;text-align: center;}
.btn_psubmit{display:inline-block;color:#000000;font-size:16px;font-weight:500;line-height:1;border:1px solid #7e7e7e;border-radius:100px;padding:10px 10px 11px;min-width:110px;box-sizing: border-box;}
.pclayer_vlist{}
.pclayer_vlist > li{margin-bottom:20px;}
.pclayer_vlist > li:last-of-type{margin-bottom:0;}
.pcv_chk{display:inline-block;font-size:15px;color:#333333;}
.pclayer_vlist > li.active .pcv_chk{font-weight:700;}

.middle_zone.sub_middle{background:#f8f8f8;}
.middle_formbox_wrap{padding:187px 30px 400px;}
.middle_formbox{background:#fff;border:1px solid #e2e2e2;border-radius:4px;padding:48px 35px 54px;width:520px;box-sizing: border-box;margin:0 auto;}
.formbox_title{font-size:34px;color:#1b1b1b;line-height:1;text-align: center;margin-bottom:40px;}
.forminput_group{}
.forminput_group input.form_input{margin-bottom:10px;}
.forminput_group input.form_input:last-of-type{margin-bottom:0;}
input.form_input{font-family: 'Noto Sans KR';width:100%;height:50px;line-height:1;border:1px solid #cccccc;border-radius:4px;font-size:16px;color:#000;box-sizing: border-box;padding:0 15px;}

input.form_input::-webkit-input-placeholder{color:#6d6c6c !important;font-weight: 350;}
input.form_input::-moz-input-placeholder{color:#6d6c6c !important;font-weight: 350;}
input.form_input:-ms-input-placeholder{color:#6d6c6c !important;font-weight: 350;}
input.form_input::-ms-input-placeholder{color:#6d6c6c !important;font-weight: 350;}
input.form_input::input-placeholder{color:#6d6c6c !important;font-weight: 350;}


.forminput_group input.form_input{}
.forminput_group input.form_input:last-of-type{}
.formelse_group{display:flex;justify-content: space-between;align-items: center;margin-top:10px;}
.props_form_item{display:inline-flex;align-items: center;font-size:0;line-height:0;}
input.props_form{appearance: none;-webkit-appearance: none;vertical-align:middle;-moz-appearance: none;overflow:hidden;width:21px;height:21px;vertical-align: top;border-radius:100%;border:1px solid #ccc;box-sizing: content-box;background:url("../images/ico_check.png") no-repeat 0 0;}
input.props_form:checked{background-color:#455267;background-position:0 100%;border-color:#455267;}
.props_label{display:inline-block;font-size:16px;color:#4e4e4e;line-height:1;margin-left:8px;position:relative;top:-1px;}
.props_util_group{}
.props_util_group > *{margin-right:20px;}
.props_util_group > *:last-child{margin-right:0;}
.textonly_item{display:inline-block;color:#2b2b2b;line-height:1;font-size:16px;}

.btn_formsubmit_group{margin-top:20px;}
.formsubmit_vitem{margin-bottom:25px;padding-bottom:25px;border-bottom:1px solid #e7e7e7;}
.formsubmit_vitem:last-of-type{margin-bottom:0;padding-bottom:0;border-bottom:0;}
.btn_formsubmit{background:#f9cf10;display:block;color:#fff;border-radius:100px;text-align: center;font-size:19px;font-weight:500;padding:18px;}
.btn_formsubmit.type2{background:#455267;} */